:root {
    font-size: 1.2rem;
}

h1 {
    font-size: 3rem;
}

h2 {

    font-size: 4rem;
}


.x-small {
    font-size: 0.4rem;
}

.small {
    font-size: 0.7rem;
}

.large {
    font-size: 1.5rem;
}

.x-large {
    font-size: 2.5rem;
}

footer {
    font-size: 2.3rem;
}

.description {
    font-size: 1em;
}